<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Home" }) %>
  </head>
  <%- include('../partials/header') %>
    <body>
      <div class="container-btn-new">
        <a class="btnNew" href="/products/addProduct">
          <input type="button" value="Agregar producto">
        </a>
      </div>
      <div class="container-edit-products">
        <table class="tableProducts">
          <thead class="head-editProduct">
            <tr>
              <th>ID</th>
              <th>NOMBRE DEL PRODUCTO</th>
              <th>DESCRIPCIÓN</th>
              <th>PRECIO</th>
              <th>CATEGORIA</th>
              <th>COLOR</th>
             <!--<th>IMAGEN</th> -->
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i=0; i < products.length; i++) {%>
            <form method="POST" action="/products/delete/<%= products[i].id %>?_method=DELETE">
              <tr>
                <td data-label="ID">
                  <%= products[i].id %>
                </td>
                <td data-label="NOMBRE DEL PRODUCTO">
                  <%= products[i].name %>
                </td>
                <td data-label="DESCRIPCIÓN">
                  <%= products[i].description %>
                </td>
                <td data-label="PRECIO">
                  <%= products[i].price %>
                </td>
                <td data-label="CATEGORIA">
                  <%= products[i].category %>
                </td>
                <td data-label="COLOR">
                  <%= products[i].color %>
                </td>
                <!--<td data-label="IMAGEN">imagen1</td> -->
                <td data-label="ACCIONES">
                  <div class="btnEdit">
                    <a href="/products/editProduct/<%= products[i].id %>">
                      <i class="fa-solid fa-pencil"></i>
                    </a>
                  </div>
                  <button type="submit" class="btnDelete">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </td>
              </tr>
            </form>
              <% } %>
          </tbody>
        </table>
      </div>
      <%- include('../partials/footer') %>
    </body>

</html>