<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Editar productos"}) %>
<body>
  <%- include('../partials/header') %>
    <main>
            <% if(product) { %>        
            <div class="editProduct">
                <section>
                    <div class="logo-editProduct">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="edit-product-text">
                        <p>EDICIÓN DE PRODUCTO.</p>
                    </div>
                    <form action="/products/editProduct/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-editProduct">
                        <div class="edit-log-nameProduct">
                        <input type="text" name="name" id="name" placeholder="Nombre del producto" value="<%= product.name %>">
                        </div>
                        <div class="edit-log-description">
                        <input type="text" name="description" id="description" placeholder="Descripción" value="<%= product.description %>">
                        </div>
                        <div class="edit-log-price">
                        <input type="number" name="price" id="price" placeholder="Precio" value="<%= product.price %>">
                        </div>                        
                        <div class="edit-log-color">
                            <select name="category_id" id="" class="form-input" required>
                                <% allCategory.forEach(category => { %>
                                <option value="<%= category.id %>"<% if (product.category_id == category.id) { %><%= 'selected' %><% }; %>><%= category.name_product_category %></option>
                                <% }); %>
                            </select>
                          </div>
                          <div class="edit-log-color">
                            <select name="color_id" id="" class="form-input" required>
                                <% allColor.forEach(color => { %>
                                <option value="<%= color.id %>"<% if (product.color_id == color.id) { %><%= 'selected' %><% }; %>><%= color.name_color %></option>
                                <% }); %>
                            </select>
                          </div>
                          <div class="edit-log-color">
                            <select name="size_id" id="" class="form-input" required>
                                <% allSize.forEach(size => {  %>
                                <option value="<%= size.id %>"<% if (product.size_id == size.id) { %><%= 'selected' %><% }; %>><%= size.name_size %></option>
                                <% }); %>
                            </select>
                          </div>

                        <div class="edit-log-image">
                            <label for="productImage" class="form-label"></label>
                            <input type="file" name="image" id="productImage" class="form-input">
                          </div>
                        <div class="edit-buttonSave">
                        <button type="submit">Guardar</button>
                        </div>
                    </form>
                    <div class="edit-back-product">
                        <a href="/products/addEditProduct">Volver a productos</a>
                    </div>
                </section>
            </div>
        <% } %>
    </main>
    <div id="modal-menu" class="modal">
        <a class="close" href="#">X</a>
        <li><a href="/">Inicio</a></li>
        <li><a href="/tshirts">Tienda</a></li>
        <li><a class="red" href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
    </div>
    <%- include('../partials/footer') %>
</body>
 
</html>