<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Editar productos"}) %>
<body>
  <%- include('../partials/header') %>
    <main>
            <% if(product) { %>        
            <div class="editProduct">
                <section class="product-edit-form">
                    <div class="logo-editProduct">
                        <i class="fa-solid fa-pencil"></i>
                    </div>
                    <div class="edit-product-text">
                        <p>EDICIÓN DE PRODUCTO.</p>
                    </div>
                    <form action="/products/editProduct/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="form-editProduct">
                        <div class="edit-log-nameProduct">
                        <input type="text" name="name" id="name" placeholder="Nombre del producto" value="<%= product.name %>">
                    </div>
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                          <div><%= errors.name.msg %></div>
                        </div>
                      <% } %>
                        <div class="edit-log-description">
                        <input type="text" name="description" id="description" placeholder="Descripción" value="<%= product.description %>">
                        </div>
                        <% if (locals.errors && errors.description) { %>
                            <div class="text-danger">
                              <div><%= errors.description.msg %></div>
                            </div>
                          <% } %>
                        <div class="edit-log-price">
                        <input type="text" name="price" id="price" placeholder="Precio" value="<%= product.price %>">
                        </div>      
                        <% if (locals.errors && errors.price) { %>
                            <div class="text-danger">
                              <div><%= errors.price.msg %></div>
                            </div>
                          <% } %>                  
                        <div class="edit-log-category">
                            <select name="category_id" id="" class="form-input" required>
                                <% allCategory.forEach(category => { %>
                                <option value="<%= category.id %>"<% if (product.category_id == category.id) { %><%= 'selected' %><% }; %>><%= category.name_product_category %></option>
                                <% }); %>
                            </select>
                          </div>
                          <% if (locals.errors && errors.category_id) { %>
                            <div class="text-danger">
                              <div><%= errors.category_id.msg %></div>
                            </div>
                          <% } %>
                          <div class="edit-log-color">
                            <select name="color_id" id="" class="form-input" required>
                                <% allColor.forEach(color => { %>
                                <option value="<%= color.id %>"<% if (product.color_id == color.id) { %><%= 'selected' %><% }; %>><%= color.name_color %></option>
                                <% }); %>
                            </select>
                          </div>
                          <% if (locals.errors && errors.color_id) { %>
                            <div class="text-danger">
                              <div><%= errors.color_id.msg %></div>
                            </div>
                          <% } %>
                          <div class="edit-log-color">
                            <select name="size_id" id="" class="form-input" required>
                                <% allSize.forEach(size => {  %>
                                <option value="<%= size.id %>"<% if (product.size_id == size.id) { %><%= 'selected' %><% }; %>><%= size.name_size %></option>
                                <% }); %>
                            </select>
                          </div>
                          <% if (locals.errors && errors.size_id) { %>
                            <div class="text-danger">
                              <div><%= errors.size_id.msg %></div>
                            </div>
                          <% } %>

                        <div class="edit-log-image">
                            <label for="productImage" class="form-label"></label>
                            <input type="file" name="image" id="productImage" class="form-input">
                          </div>
                          <% if (locals.errors && errors.image) { %>
                            <div class="text-danger">
                              <div><%= errors.image.msg %></div>
                            </div>
                          <% } %>
                        <div class="edit-buttonSave">
                        <button type="submit" onclick="editProduct()">Guardar</button>
                        </div>
                    </form>
                    <div class="edit-back-product">
                        <a href="/products/addEditProduct">Volver a productos</a>
                    </div>
                </section>
            </div>
        <% } %>
    </main>
    <div id="modal-menu" class="modal">
        <a class="close" href="#">X</a>
        <li><a href="/">Inicio</a></li>
        <li><a href="/tshirts">Tienda</a></li>
        <li><a class="red" href="/users/login">Iniciar sesión</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
    </div>
    <%- include('../partials/footer') %>
    <script>
      const removeChild = (div, id) => {
        for (var i = 0; i < div.children.length; i++) {
          if (div.children[i].id == id) {
            div.removeChild(div.lastChild)
          }
        }
      }

      const removeError = (errors, deleteItem) => {
        for (var i = 0; i < errors.length; i++) {
          if (errors[i] == deleteItem) {
            errors.splice(i, 1);
          }
        }
      }

      const createErrorMessage = (text, div, id) => {
        let span = document.createElement("span");
        span.setAttribute('id', id);
        span.innerText = '';
        span.innerText = text;
        span.className = 'text-danger';
        span.style = 'width:70%';
        div.appendChild(span);
      }

      const editProduct = () => {
        
        let form = document.querySelector('form.form-editProduct');
        let productDiv = document.querySelector('div.edit-log-nameProduct');
        let descriptionDiv = document.querySelector('div.edit-log-description');
        let imageDiv = document.querySelector('div.edit-log-image');
        let product = document.getElementById('name');
        let description = document.getElementById('description');
        let image = document.getElementById('productImage');
        let errors = [];
        form.addEventListener('submit', (event) => {
          if (product.value == '') {
            removeError(errors, 'invalidName');
            errors.push('nameRequired');
            removeChild(productDiv, 'nameRequired');
            removeChild(productDiv, 'invalidName');
            createErrorMessage('Campo requerido', productDiv, 'nameRequired');
          } else {
            removeError(errors, 'nameRequired');
            removeChild(productDiv, 'nameRequired');
            if (product.value.length < 5) {
              errors.push('invalidName');
              removeChild(productDiv, 'invalidName');
              createErrorMessage('Escribe más de 5 letras', productDiv, 'invalidName');
            } else {
              removeChild(productDiv, 'invalidName');
              removeError(errors, 'invalidName');
            }
          }

          if (description.value.length < 20) {
            errors.push('invalidDescription');
            removeChild(descriptionDiv, 'invalidDescription');
            createErrorMessage('Escribe más de 20 caracteres', descriptionDiv, 'invalidDescription');
          } else {
            removeChild(descriptionDiv, 'invalidDescription');
            removeError(errors, 'invalidDescription');
          }

          let route = image.value;
          let validExtensions = ".png, .gif, .jpeg, .jpg";
          let extension = route.substring(route.lastIndexOf('.') + 1).toLowerCase();
          let validExtension = validExtensions.indexOf(extension);
          removeError(errors, 'imageRequired');
          removeChild(imageDiv, 'imageRequired');
          if (validExtension < 0) {
            errors.push('invalidImage');
            removeChild(imageDiv, 'invalidImage');
            createErrorMessage('Debe ser: .png, .gif, .jpeg, .jpg ', imageDiv, 'invalidImage');
          } else {
            removeChild(imageDiv, 'invalidImage');
            removeError(errors, 'invalidImage');
          }
          if (errors.length > 0) {
            event.preventDefault();
          }
        })
      }
    </script>
</body>
 
</html>