<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Productos" }) %>
  <body>
    <div class="container">
      <%- include('../partials/header') %>
        <section class="slider">
          <img src="/images/home-banner-1.jpg" alt="">
        </section>
        <section class="intermediate-menu">
          <ul>
            <li><a href="/products-list/camisetas" id="a1">Camisetas</a></li>
            <li><a href="/products-list/hoddies" id="a2">Hoddies</a></li>
            <li><a href="/products-list/mugs" id="a3">Mugs</a></li>
            <li><a href="/products-list/botellas" id="a4">Botellas</a></li>
            <li><a href="/products-list/gorras" id="a5">Gorras</a></li>
            <li><a href="/products-list/cojines" id="a6">Cojines</a></li>
            <li><a href="/products-list/stickers" id="a7">Stickers</a></li>
          </ul>
        </section>
        <section class="products">
          <div class="products-list">   
            <% for(let i=0; i < products.length; i++) { %>
              <div class="card">
                <a href="/products-list/<%= products[i].category %>"><img src="<%= products[i].image %>" alt="<%= products[i].category %>"></a>
                <div class="description-legend">
                    <p><%= products[i].title %></p>
                    <p><%= products[i].price %></p>
                </div>
            </div>   
            <% } %>
        </section>
        <%- include('../partials/footer') %>
    </div>
    <div id="modal-menu" class="modal">
      <a class="close" href="#">X</a>
      <li><a href="/">Inicio</a></li>
      <li><a href="/t-shirts">Tienda</a></li>
      <li><a class="red" href="/login">Iniciar sesión</a></li>
      <li><a href="/register">Registrate</a></li>
      <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
    </div>
  </body>

</html>