<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Detalle de producto" }) %>

  <body>
    <!-- Header -->
    <%- include('../partials/header') %>
      <!-- main -->
      <main class="main-container">
        <div class="product">
          <div class="prod-nav">
            <img src="/images/products/<%= product.image %>" alt="img 1">
            <img src="/images/products/<%= product.image %>" alt="img 2">
            <img src="/images/products/<%= product.image %>" alt="img 3">
            <img src="/images/products/<%= product.image %>" alt="img 4">
          </div>
          <div class="prod-image">
            <img src="/images/products/<%= product.image %>" alt="main img">
          </div>
          <section class="prod-detail">

            <div class="product-rate">
              <h2><%= product.name%></h2>
              <label>Reseña del producto</label>
              <h3>★★★★★</h3>
            <% if(typeof product !="undefined" ) { %>
              <div class="description">
                <h3>
                  <%= product.title%>
                </h3>
                <h2>$<%= product.price%>
                </h2>
                <p><%= product.description %></p>

                <div class="category">
                  <h4>referencia: HM-123456</h4>
                  <h4>
                    <%= product.category%>
                  </h4>
                </div>
              </div>
              <% } else {%>
                <p>El producto no existe</p>
                <% } %>
                  <div class="buttons">
                    <% if(product.category=="camisetas" || product.category=="hoddies" ){ %>
                      <div class="sizes">
                        <label>Talla</label>
                        <select name="option">
                          <option value="size-S">S</option>
                          <option value="size-M">M</option>
                          <option value="size-L">L</option>
                          <option value="size-XL">XL</option>
                        </select>
                      </div>

                      <div class="colors">
                        <label>Color disponible:</label>
                        <select name="option">
                          <option value="">Seleccionar</option>
                          <option class="<%= product.color%>" value="<%= product.color%>"><%= product.color%></option>
                          
                        </select>
                      </div>
                      <% } else if(product.category=="gorras" ){ %>
                        <p>Talle: <em style="color: rgb(235, 94, 94);">Único regulable</em></p>
                        <% } %>


                          <div class="number">
                            <label>Cantidad</label>
                            <select name="option">
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                              <option value="5">5</option>
                            </select>
                          </div>
                          <div class="submit">
                            <p><input type="submit" value="añadir al carrito" name="add-button"> </p>
                          </div>

                  </div>


          </section>

        </div>

      </main>
      <%- include('../partials/footer') %>
        </div>
        <div id="modal-menu" class="modal">
          <a class="close" href="#">X</a>
          <li><a href="/">Inicio</a></li>
          <li><a href="/">Tienda</a></li>
          <li><a class="red" href="/users/login">Iniciar sesión</a></li>
          <li><a href="/users/register">Registrate</a></li>
          <a class="cart" href="/products/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        </div>
  </body>

</html>