<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {webtitle: "Detalle de producto" }) %>

  <body>
    <!-- Header -->
    <%- include('../partials/header') %>
      <!-- main -->
      <main class="main-container">
        <div class="product">
          <div class="prod-nav">
            <img src="<%= product.image%>" alt="img 1">
            <img src="<%= product.image%>" alt="img 2">
            <img src="<%= product.image%>" alt="img 3">
            <img src="<%= product.image%>" alt="img 4">
          </div>
          <div class="prod-image">
            <img src="<%= product.image%>" alt="main img">
          </div>
          <section class="prod-detail">
            <div class="general-description">
              <div class="product-rate">
                <label>Reseña del producto</label>
                <select name="option">
                  <option value="one-star">★</option>
                  <option value="two-stars">★★</option>
                  <option value="three-stars">★★★</option>
                  <option value="four-stars">★★★★</option>
                  <option value="five-stars">★★★★★</option>
                </select>
                <p class="submit-button"><input type="submit" value="VALORAR" name="rate-button"> </p>
              </div>
              <% if(typeof product !="undefined" ) { %>
                <div class="description">
                  <h3><%= product.title%></h3>
                  <h2><%= product.price%></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea minus inventore sit aspernatur
                    laborum illum
                    reiciendis tempora qui! Exercitationem assumenda, et omnis labore saepe illum sequi
                    doloribus voluptate
                    tempora repellat?</p>

                  <div class="category">
                    <h4>referencia: HM-123456</h4>
                    <h4><%= product.category%></h4>
                  </div>
                </div>
                <% } else {%>
                  <p>El producto no existe</p>
                  <% } %>
                    <div class="buttons">
                      <div class="sizes">
                        <label>Talla</label>
                        <select name="option">
                          <option value="size-S">S</option>
                          <option value="size-M">M</option>
                          <option value="size-L">L</option>
                          <option value="size-XL">XL</option>
                        </select>
                      </div>

                      <div class="colors">
                        <label>Color</label>
                        <select name="option">
                          <option class="white" value="white">Blanco</option>
                          <option class="black" value="black">Negro</option>
                          <option class="yellow" value="yellow">Amarillo</option>
                          <option class="green" value="green">Verde</option>
                          <option class="purple" value="purple">Violeta</option>
                          <option class="pink" value="pink">Rosa</option>
                        </select>
                      </div>

                      <div class="number">
                        <label>Cantidad</label>
                        <select name="option">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                      </div>
                      <div class="submit">
                        <p><input type="submit" value="añadir al carrito" name="add-button"> </p>
                      </div>

                    </div>
            </div>

          </section>

        </div>

      </main>
      <%- include('../partials/footer') %>
        </div>
        <div id="modal-menu" class="modal">
          <a class="close" href="#">X</a>
          <li><a href="/">Inicio</a></li>
          <li><a href="/t-shirts">Tienda</a></li>
          <li><a class="red" href="/login">Iniciar sesión</a></li>
          <li><a href="/register">Registrate</a></li>
          <a class="cart" href="/cart"><i class="fas fa-solid fa-cart-shopping"></i></a>
        </div>
  </body>

</html>