<!DOCTYPE html>
<html lang=>
  <%- include('../partials/head', {webtitle: "Iniciar sesión"}) %>
<body>
  <%- include('../partials/header') %>
    <main>
      <div class="register">
        <div class="container-login-register">
            <div class="tab-login">
                <a href="/users/login"><button type="button">Iniciar sesión</button></a>
                </div>
                <div class="tab-register">
                   <a href="/users/register"><button type="button">Registro</button></a> 
            </div>
        </div>
        <div class="card-register">
            <section>
                <div class="logo-login">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="log-text">
                    <p>Crea una cuenta para agilizar el proceso de pago en el futuro, realizar un seguimiento del
                        historial de pedidos y recibir correos electrónicos, descuentos y ofertas especiales.</p>
                </div>
                <form action="/users/login" method="POST">
                    <div class="log-user">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" name="logUser" id="log-user" placeholder="Nombre de usuario">
                    </div>
                    <% if (locals.errors && errors.logUser) { %>
                        <div class="text-danger">
                            <%= errors.logUser.msg %>
                        </div>
                        <% } %>
                    <div class="log-password">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                    </div>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                        <div class="register-button">
                            <button type="submit">Iniciar sesión</button>
                        </div>
                        <div class="recuerdame">
                            <input type="checkbox" name="remember" value="on">
                            <label for="remember">Recuérdame</label>
                        </div>
                        <div class="olvidoContraseña">
                            <p>¿Olvido su contraseña?</p>
                        </div>
                </form>
                <a href="/users/register"> <p class="back-login"><u>Ir a registro</u></p></a> 
                
    </main>
  <%- include('../partials/footer') %>
</body>
</html>